* {
    margin: 0px;
    padding: 0px;
}


/* declaring variables */

:root {
    --f_fam: arial;
    --f_size: 100%;
    --Prim_col: #1455e0;
    --primdark_col: #1c0452;
    --animfast: 100ms;
    --animslow: 400ms;
    --pad: 3%;
    --darkbg: #333333;
    --bordrad: 10px;
}


/* styling of html elements*/

body {
    font-family: var(--f_fam);
    font-size: var(--f_size);
    animation-duration: var(--animfast);
    padding-left: var(--pad);
    padding-right: var(--pad);
    background-color: var(--primdark_col);
}


/* styling of classes */

.card {
    background-color: var(--darkbg);
    color: azure;
    border-radius: var(--bordrad);
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.userd {
    height: 10%;
    width: 100%;
    padding: 3%;
}


/* styling Ids */

#userdata {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#user_image {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}