* {
    margin: 0px;
    padding: 0px;
}


/* declaring variables */

:root {
    --f_fam: 'arial';
    --f_size: 100%;
    --Prim_col: #1455e0;
    --primdark_col: #1c0452;
    --animfast: '100ms';
    --animslow: '400ms';
    --pad: 3%;
    --bordrad: 5px;
}

body {
    font-family: var(--f_fam);
    font-size: var(--f_size);
    animation-duration: var(--animfast);
    padding-left: var(--pad);
    padding-right: var(--pad);
}

a {
    color: var(--Prim_col);
}

a:hover {
    color: var(--primdark_col);
}


/* styling of classes */

.mainhead {
    text-align: center;
    font-weight: 600;
    font-style: oblique;
    font-size: 200%;
}

.sechead {
    text-align: left;
    font-weight: 500;
    font-style: italic;
    font-size: 150%;
}

.par {
    text-align: justify;
    font-size: 110%;
    font-weight: 520;
}

.centimg {
    margin: 2%;
    width: 96%;
    border: none;
    border-radius: var(--bordrad);
}


/* media query to set styling for big screens */

@media screen and (min-width: 1000px) {
    .mainhead {
        font-size: 300%;
    }
    .sechead {
        font-size: 200%;
    }
    .par {
        font-size: 120%;
    }
    .centimg {
        margin: 2%;
        width: 50%;
        margin-left: 25%;
    }
}