* {
    margin: 0px;
    padding: 0px;
}

:root {
    --f_fam: 'arial';
    --f_size: 100%;
    --Prim_col: #1455e0;
    --primdark_col: #1c0452;
    --animfast: '100ms';
    --animslow: '400ms';
    --pad: 3%;
    --bordrad: 5px;
}

body {
    font-family: var(--f_fam);
    font-size: var(--f_size);
    animation-duration: var(--animfast);
    background-color: aquamarine;
    overscroll-behavior: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#appcontainer {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.appbody {
    display: none;
    height: 90vh;
}

#navigationcont {
    width: 90vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Prim_col);
    border-radius: var(--bordrad);
    margin-left: auto;
    margin-right: auto;
}

#resources {
    height: 70vh;
    width: 96vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rowBtn {
    text-decoration: none;
    font-size: larger;
    background-color: transparent;
    border: none;
    color: rgb(236, 217, 198);
}

.rowitem:hover {
    background-color: rgb(116, 190, 190);
}

.rowitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    background-color: rgb(139, 12, 12);
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
}

.caa {
    background-color: rgb(116, 190, 190);
    height: 30vh;
}

.navimg {
    width: 5vw;
}

.Imagebanner {
    height: 30vh;
    background-color: black;
    overflow: hidden;
}

.homepagebody {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.currentlist {
    border: solid black;
    height: 40vh;
    width: 45vw;
    background-color: black;
    color: #fff;
}

.Hheading {
    text-align: center;
    font-family: sans-serif;
    font-size: 250%;
    color: aliceblue;
    background-color: rgb(18, 7, 99);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}