* {
    margin: 0px;
    padding: 0px;
}

.appbody {
    display: none;
}


/* declaring variables */

:root {
    --f_fam: 'arial';
    --f_size: 100%;
    --Prim_col: #1455e0;
    --primdark_col: #1c0452;
    --animfast: '100ms';
    --animslow: '400ms';
    --pad: 3%;
    --bordrad: 5px;
}

body {
    font-family: var(--f_fam);
    font-size: var(--f_size);
    animation-duration: var(--animfast);
    background-color: aquamarine;
}

#appcontainer {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

#navigationcont {
    width: 90vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Prim_col);
    border-radius: var(--bordrad);
    margin-left: auto;
    margin-right: auto;
}

#resources {
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background-color: black;
}

#resouceHeading {
    text-align: center;
    background-color: rgb(47, 197, 37);
    color: white;
    height: 8vh;
    border-radius: 5px;
}

.resouceBtn {
    text-decoration: none;
    font-size: larger;
    background-color: transparent;
    border: none;
    color: bisque;
}

.resourceitem:hover {
    background-color: rgb(116, 190, 190);
}

.resourceitem {
    height: 10vh;
    background-color: black;
    border-radius: 50px;
    color: aliceblue;
    text-align: center;
}

.navimg {
    width: 4vw;
}