.card {
    background-color: var(--darkbg);
    color: azure;
    border-radius: var(--bordrad);
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.userd {
    height: 10%;
    width: 100%;
    padding: 3%;
}


/* styling Ids */

#userdata {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#user_image {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin-left: 10%;
}